venv/
__pycache__/
*.pyc
.env
parsed_resume_output.json
.vscode/
experience.txt
appv1.txt
appv2.txt
prepare_test_datav1.txt
job_descriptions.csv
resume_parserv1.txt
load_job_descriptions
experiencev1.txt
debug_matcher
parsed_resume_output
tests/data/raw_resumes/